$c_background:#F24C27;
$c_dashboard_background:rgba(0,0,0,.9);
$c_title_background:#5F5448;
$c_font:#FFFFFA;
$c_p1: #037E8C;
$c_text_dark:#28303C;
$c_success:#51CA6B;
$c_alert:#CC2F2E;
$c_box:rgba(255,255,255,.25);